# n8n
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_HOST=n8n
N8N_PORT=5678
N8N_PROTOCOL=http
NODE_ENV=development
GENERIC_TIMEZONE=Asia/Jakarta

# Whatsapp
APP_BASIC_AUTH=xxxx:xxxx
APP_PORT=3000
APP_DEBUG=true
APP_OS=Chrome
APP_ACCOUNT_VALIDATION=false
